@model  HomeDetuailsViewModel
@{
    //Layout = "~/views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
 <h1>@Model.PageTitle</h1>
  <div class="card-deck">
    <div class="card col-md-3">
  <div class="card-header">
  </div>
  <img src="~/Images/2.jpg" />
   <h3>
        Name:@Model.Employee.Name;
    </h3>
    <h3>
        Department:@Model.Employee.Department;
    </h3>
    <h3>
     Emaile :@Model.Employee.Email;
    </h3>
    </div>
</div>
<div class="card-footer">
 <a asp-controller="Home" asp-action="Index" class="btn btn-dark" >back</a>
 <a  asp-action="Edit" asp-controller="home" asp-route-id="@Model.Employee.Id" class="btn btn-primary m-1">Edit</a>
 <a href="#" class="btn btn-danger">Delete</a>
</div>
   
    @section scripts{
    <script src="~/js/customscript.js"></script>
    }


