
@model ItemTypeEditViewModel
<div class="row pt-5">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 text-center">
        <div class="card">
            <div id="form-messages" class="alert success btn btn-success" role="alert" style="display:none;">Data has Edited</div>
            <div class="card-header bg-dark">
                <h6 class="card-title" style="-webkit-text-fill-color:aliceblue"> Edit Item type</h6>
            </div>
            <div class="card-body">
                <form method="post" class="mt-3">
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label"> Name</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Name" id="Name"/>
                        </div>
                    </div>
                  <input type="hidden"  asp-for="Id"/>
                    <div asp-validation-summary="All"></div>
                    <div>
                        <button type="submit" class="btn btn-dark" onclick="itemTypesave()" style="-webkit-text-fill-color:aliceblue">Update</button>
                    </div>
                </form>
            </div>

            <div class="card-footer bg-dark">
            </div>
        </div>
    </div>

</div>
