
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <div class="card">
                <div id="form-messages" class="alert success btn btn-success" role="alert" style="display:none;">Order has cancled</div>
                <div class="card-header bg-dark text-center" style="-webkit-text-fill-color:aliceblue">
                    EXpenses Report
                </div>
                <div class="card-body  col-md-12">
                    <table border="0" cellspacing="5" cellpadding="5">
                            <tr>
                                <td>From:</td>
                                <td><input type="text" id="min" name="min"></td>
                               <td>To:</td>
                                <td><input type="text" id="max" name="max"></td>
                            </tr>
                    </table>
                    <table class="table table-bordered data-table" id="DashboardTable" style="width:600px">
                        <thead class="head-light">
                            <tr>
                             <th>id</th>
                            <th>ExName</th>
                            <th>ExType</th>
                            <th>ExValue</th>
                            <th>ExDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total</td>
                               <td></td>
                               <td id="total" style="text-align:center">0</td>
                               <td></td>
                               
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/filter/moment.min.js"></script>
<script src="~/filter/datatables.datetime.min.js"></script>
<script type="text/javascript">
    let minDate, maxDate
    var js = jQuery.noConflict(true)
    $(document).ready(function () {
        DashboardTable()
        return false
    });
    function DashboardTable() {
        tabledata = [];
        $.ajax({
            type:'GET',
           url: 'http://localhost:5246/Home/GetItemExpenses',
            dataType: 'json',
            async: false,
            processing: true,
            serverSide: true,
            success: function (data) {
                $.each(data, function (key, value, row, column) {
                   // var date = '2011-07-25'
                tabledata.push([value.id,value.exName,value.exType,value.exValue,value.exdate])
                })
            },
            Failure: function (error) {
            },
        }),
         new DataTable('#DashboardTable',{
            data:tabledata,
            "columnDefs":
             [
              {"targets":[0],"visible":false},
             ],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api(), data;
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                pageTotal = api
                    .column(3, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                var sum = display.map(el => data[el][3]).reduce((a, b) => intVal(a) + intVal(b));
                $(api.column(3).footer()).html(('' + sum.toFixed(2)));
            },
        });
      let minDate, maxDate;
    // Custom filtering function which will search data in column four between two values
    DataTable.ext.search.push(function (settings, data, dataIndex) {
        let min = minDate.val();
        let max = maxDate.val();
        let date = new Date(data[4]);
        if (
            (min === null && max === null) ||
            (min === null && date === max) ||
            (min <= date && max === null) ||
            (min <= date && date <= max)
        ) {
            return true;
        }
        return false;
    });
    // Create date inputs
    minDate = new DateTime('#min', {
        dateformat: 'yyyy-mm-d'
    });
    maxDate = new DateTime('#max', {
        dateformat:'yyyy-mm-d'
    });
    // DataTables initialisation
    let table =  new DataTable('#DashboardTable');
     searsching:false,
    // Refilter the
    document.querySelectorAll('#min, #max').forEach((el) => {
        el.addEventListener('change', () => table.draw());
    });
    }
</script>

